.flex-center-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
  height: 100%;
  --primary-color: #E5E5E5;
  --second-color: #FFFFFF;
  --antd-wave-shadow-color: #cf964c;

  --red: #F30000;
  --black: #000000;
  --white: #ffffff;
  --blue: #0061A3;
  --drey: #5F5F5F;

  --grey1: #e0e0e0;
  --grey2: #737373;
  --grey3: #a1a1a1;
  --grey4: #414141;
  --dark-black: #212121;
}